#       $OpenBSD: sshd_config,v 1.103 2018/04/09 20:41:22 tj Exp $            
# This is the sshd server system-wide configuration file.  See                
#ListenAddress 0.0.0.0                                                        
Port 7029                                                                      

HostKey /etc/ssh/ssh_host_rsa_key                                             
AuthorizedKeysFile      .ssh/authorized_keys                               
AllowTcpForwarding no                                                         
GatewayPorts no                                                            
X11Forwarding no
Subsystem       sftp    /usr/lib/ssh/sftp-server                           
